# Turbo
.turbo

# Dependencies
node_modules

# Local env files
.env

# Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist
build

.vscode

# Editor Swap Files
*.swp

# Yarn PnP (Plug'n'Play) files
.pnp.cjs
.pnp.loader.mjs

# Package Manager Lock files (ignoring yarn)
yarn.lock

# Ignore Yarn cache and releases
.yarn
.yarnrc.yml
